@import "colors";
@import "reset";
@import "hamburger";
@import "functions";

header {
  background-color: $bg-color;
  height: 80px;
  display: flex;
  position: sticky !important;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 100;

  a {
    color: $text-color;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    transition: 0.5s ease;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 3px;
      border-radius: 2px;
      bottom: -2px;
      left: 0;
      background-color: $text-color;
      transition: all 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

nav {
  max-width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: max-content;

  div {
    position: relative;
  }
}

.menu {
  list-style: none;
  display: flex;
  height: max-content;
  @include flex(row, center, center);
  gap: 2rem;

  div {
    font-size: 24px;
    height: max-content;
    @include flex(row, center, center);
  }
}

.logo {
  height: 40px;

  img {
    height: 100%;
  }
}

@media screen and (max-width: 980px) {
  .hamburger {
    display: block;
    z-index: 999;
    height: 45px;
    width: 45px;
  }

  .menu {
    position: fixed !important;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    background: linear-gradient(to bottom, #413f39 20%, #242323);
    flex-direction: column;
    padding: 100px 20px;
    z-index: 998;
    transition: 1s ease;
    justify-content: center;
    gap: 5rem;
  }

  .menu.active {
    right: 0;
  }
}
