/*=========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hide-sm {
  display: none;
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
  .hide-sm {
    display: block;
  }
}
body {
  background-color: #413f39;
}

.hero {
  background-image: url(../img/hero-mobile.webp);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 10;
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  z-index: 10;
}

.book {
  margin-top: 10rem;
  background-color: #ff7a00;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid #fff;
  z-index: 10;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s ease;
}
.book:hover {
  background-color: #d46700;
}

.accommodations {
  background-color: #292723;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 15rem;
  position: relative;
  z-index: 10;
}
.accommodations .gallery {
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.accommodations .description {
  margin-top: 5rem;
}
.accommodations .description h3 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 62.857% */
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.accommodations .description p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.accommodations .landscape {
  position: absolute;
  bottom: 4rem;
  left: 0;
  width: 100%;
}

.description {
  margin-top: 5rem;
}
.description h3 {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 62.857% */
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.description p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.activities {
  padding-top: 3rem;
  padding: 1rem;
}
.activities .photos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.activities .dam-photo {
  padding-top: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #292723;
  padding: 3rem;
}

@media (min-width: 769px) {
  .hero {
    background-image: url(../img/hero.webp);
  }
  .accommodations {
    padding-inline: 3rem;
    padding-bottom: 22rem;
  }
  .accommodations .gallery img:first-child {
    width: 35%;
  }
  .accommodations .gallery img:nth-child(2) {
    width: 55%;
  }
  .accommodations .gallery img:nth-child(3) {
    width: 65%;
  }
  .accommodations .gallery img:nth-child(4) {
    width: 25%;
  }
  .accommodations .gallery img:nth-child(5) {
    width: 55%;
  }
  .accommodations .gallery img:last-child {
    width: 35%;
  }
  .description {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .description h3 {
    max-width: 400px;
    width: 50%;
    text-align: right;
  }
  .description p {
    max-width: 400px;
  }
  .activities .photos {
    flex-direction: row;
    justify-content: center;
  }
  .activities .photos img {
    max-width: 50%;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */